@import "./variables.css";

.CallToAction {
  width: 100%;
  min-height: 435px;       
  padding: 55px 0;   
  background-color: var(--Accent3);
  
}

.CallToAction .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.CallToAction__header {
  text-align: center;
  max-width: 1100px;
}

.CallToAction__header h3 {
  font-size: 3.25rem;
  font-weight: 700;
  color: var(--main-color);
  line-height: 1.2;         
  margin-bottom: 20px;
}

.CallToAction__header p {
  color: var(--main-color);
  font-size: 1rem;
  line-height: 1.6;
  margin: 0 auto 40px auto;
}

.CallToAction__button .cta-btn {
  display: inline-flex;                
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 46px;
  background-color: var(--main-yallow-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;             
  transition: all 0.3s ease;         
}

.CallToAction__button .cta-btn:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
  transform: translateY(-2px);         
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}


@media (max-width: 992px) {
.CallToAction__header h3 {
  font-size: 2.25rem;}}