@import "./variables.css";

.faq-section .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem 5rem;
}

.faq__subtitle {
  font-size: 1.563rem;
  font-weight: 1000;
  color: var(--main-yallow-color);
  margin: 0;
}

.faq__title {
  font-size: 2.75rem;
  line-height: 3.25rem;
  font-weight: 800;
  color: var(--secondary-color);
  margin: 0;
  padding-top: 1rem;
}

.faq__description {
  font-size: 1rem;
  color: var(--secondary-color);
}


.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.faq-item {
  background: var(--color2);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
  margin-bottom: 23px;
  transition: all 0.3s ease;
}

.faq-item.active {
  background: var(--color3);
}

.faq-item.active .faq-question {
  background-color: var(--main-yallow-color); 
  color: var(--main-color); 
}

.faq-item.active .faq-question i {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}


.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.faq-icon {
  font-size: 1.5rem;
  color: var(--main-yallow-color);
  font-weight: bold;
}

.faq-icon i {
  transition: transform 0.3s ease;
  color: var(--secondary-color);
}

.faq-item.active .faq-icon i {
  transform: rotate(360deg);
  color: var(--main-color);
}


.faq-answer {
  background-color: var(--main-color);
  padding: 0 1.5rem 0rem 1.5rem;
  color: var(--secondary-color);
  line-height: 1.6;
}


@media (max-width: 992px) {
.faq-section .container{
  display: grid;
  grid-template-columns: 1fr ;
} }