@import "./variables.css";

.find-us-on {
  background-color: var(--Accent3);
  padding: 0;
  font-family: var(--font-main);
}

.find-us-on .container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;
}

.findus-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0;
}

.findus-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.findus-content {
  flex: 1;
  background-color: var(--color5);
  padding: 10px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.findus-header h3 {
  font-family: var(--font-title);
  font-size: 3.25rem;
  font-weight: 800;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.findus-header p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--Accent3);
  margin-bottom: 35px;
}

.findus-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.findus-box {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.findus-box img {
  width: 60px;
  height: 60px;
}

.findus-box h5 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: 600;
}

.findus-box p {
  margin: 0;
  font-size: 1.06rem;
  color: var(--secondary-color);
}

.findus-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.findus-social h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondary-color);
  white-space: nowrap;
  font-family: var(--font-title);
}

.findus-social .divider {
  flex: 1;
  height: 2px;
  background-color: var(--secondary-color);
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social-icons a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons i {
  font-size: 18px;
  background-color: var(--main-yallow-color);
  color: var(--secondary-color);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.social-icons i:hover {
  background-color: var(--secondary-color);
  color: var(--main-yallow-color);
  border: 2px solid var(--main-yallow-color);
}

@media (max-width: 992px) {
  .find-us-on .container {
    flex-direction: column;
  }

  .findus-content {
    padding: 40px 20px;
    text-align: center;
  }

  .findus-image img {
    display: none;
  }

  .findus-info {
    align-items: center;
  }

  .findus-box {
    text-align: center;
  }

  .findus-social {
    flex-direction: column;
    gap: 10px;
  }

  .findus-social .divider {
    width: 100px;
  }

  .social-icons {
    justify-content: center;
  }
}
