@import "./variables.css";


.hero-page {
  width: 100%;
  height: 467px;
  background-color: var(--Accent3);
  color: var(--main-color);
  padding: 195px 0;
}

.hero-page .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  padding: 0 120px;
}

.hero-page-title {
    font-size: 80px;
    font-weight: 800;
    color: var(--color4);
    margin: 0;
}

.hero-page-subtitle {
    font-size: 16px;
    color: var(--color4);
    max-width: 600px;
}


/* Responsive */

@media (max-width: 768px) {
  .hero-page-title  {
    text-align: center;
    font-size: 60px;
  }
.hero-page-subtitle {
    text-align: center;
    font-size: 16px;
     }
}

@media (max-width: 576px) {

  .hero-page .container {
    padding: 0 
}

.hero-page {
padding: 120px 0;
height: 380px;
}
 .hero-page-title  {
    font-size: 35px;
     line-height: 1;
  }

  .hero-page-subtitle {
    font-size: 16px;
    margin-top: 0;
     }
}