@import "./variables.css";

.Pagenotfound {
  background-color: var(--Accent3);
  min-height: 100vh;       
  display: flex;           
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;       
  text-align: center;
}

.Pagenotfound .container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 0;
}

.Pagenotfound h5 {
   color: var(--main-color);
   font-size: 1.5rem;
   margin: 0;
   padding: 0;
}

.Pagenotfound h1 {
   color: var(--main-yallow-color);
   font-size: 5rem;
   font-weight: 800;
   margin: 40px 0 30px;
}

.Pagenotfound p {
color: var(--main-color);
font-size: 1.5rem;
max-width: 900px;
}

.Pagenotfound .button {
    display: inline-flex;
    width: 9.313rem;
    height: 2.625rem;
    background-color: var(--main-yallow-color);
    border: none;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
    color: var(--secondary-color);
    text-decoration: none;
    justify-content: center;
   transition: all 0.25s ease;
}

.Pagenotfound .button:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}


@media (max-width: 768px) {
 .Pagenotfound h1 {
   font-size: 3.5rem;
}
  }
@media (max-width: 576px) {
 .Pagenotfound h1 {
   font-size: 2rem;
   margin: 20px;
}
.Pagenotfound p {
font-size: 1rem;
margin-top: 0;
}}