@import "./variables.css";

.services {
  width: 100%;
  height: auto;
  padding: 95px 0;
  top: 0;
  left: 0;
}

.services .container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.services__subtitle {
  font-size: 1.563rem;
  font-weight: 1000;
  color: var(--main-yallow-color);
  margin: 0;
}

.services__title {
  font-size: 2.75rem;
  line-height: 3.25rem;
  font-weight: 800;
  color: var(--secondary-color);
  margin: 0;
  padding-top: 1rem;
}

.services__description {
  font-size: 1rem;
  color: var(--secondary-color);
}

.services__title__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.services__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 32px;
}

.service-card {
  height: 156px;
  width: 320px;
  border: 2px solid var(--color2);
  border-radius: 10px;
  padding: 20px;
  transition: all 0.3s ease;
  margin-bottom: 17px;
}

.service-card:hover {
  border-color: var(--main-yallow-color);
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.4);
  transform: translateY(-5px);
}

.service-card h5 {
  font-size: 1.563rem;
  color: var(--secondary-color);
  margin: 0;
}

.service-card p {
  font-size: 1rem;
  color: var(--secondary-color);
}

.services__image img {
  width: auto;
  height: 327px;
}

@media (max-width: 767px) {
  .services {
    padding: 60px 0;
    height: auto;
  }

  .services__title__description {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .services__content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .services__image img {
    width: 100%;
    height: auto;
  }

  .service-card {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .services__content {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .services__column--right {
    display: none;
  }

  .services__image {
    display: flex;
    justify-content: center;
  }

  .services__image img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .services__content {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    
  }

  .services__image img {
    height: 300px;
  }

  .service-card {
    width: 300px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .services__content {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }

  .service-card {
    width: 320px;
  }

  .services__image img {
    height: 330px;
  }
}

