
/* Variables */
:root {
  --main-color: #FFFFFF;
  --secondary-color: #12372A;
  --main-yallow-color: #e7bd16;
  --Accent3: #12372ACC;
  --color2: #ECECEC;
  --color3: #FAF8EC;
  --color4: #F1FFEA;
  --color5: #F1FFEA8E;
  --hover-color: #e6b800;
  --font-main: 'Inter', sans-serif;
  --font-title: 'Urbanist', sans-serif;
}

/* ============================= */
/* Global Rules */
*, :after, :before {
  box-sizing: border-box;
}

html, body {
  line-height: 160%;
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

main {
  flex: 1;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Urbanist', sans-serif;
}

.container {
  width: 100%;
  max-width: 1400px;  
  margin: 0 auto;     
  padding: 0 5vw;     
  box-sizing: border-box;
}



@media (min-width: 48rem) { .container { width: 46.875rem; } }
@media (min-width: 62rem) { .container { width: 60.625rem; } }
@media (min-width: 75rem) { .container { width: 82.5rem; } }
@media (min-width: 87.5rem) { .container { width: 87.5rem; } }